<!DOCTYPE html>
<html>

<head>
	<title>api_docs.md</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="/static/api.css">
	<link href="/static/style.css" type="text/css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
</head>
<script>
	mermaid.initialize({
		startOnLoad: true,
		theme: document.body.classList.contains('vscode-dark') || document.body.classList.contains('vscode-high-contrast')
			? 'dark'
			: 'default'
	});
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-bar">
	<div class="container-fluid">
		<a class="navbar-brand" href="/index">QuizMania</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
			aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Quiz
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="/all_quizzes"><u>All Quizzes</u></a></li>
						<li><a class="dropdown-item" id="HTML" onClick="reply_click(this.id)" href="/html">&nbsp;
								HTML</a></li>
						<li><a class="dropdown-item" id="JavaScript" onClick="reply_click(this.id)"
								href="/javascript">&nbsp; JavaScript</a></li>
						<li><a class="dropdown-item" id="PHP" onClick="reply_click(this.id)" href="/php">&nbsp; PHP</a>
						</li>
						<li><a class="dropdown-item" id="Wordpress" onClick="reply_click(this.id)"
								href="/wordpress">&nbsp; Wordpress</a></li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink1" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						About us
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="/contact">Contact</a></li>
						<li><a class="dropdown-item" href="/creators">Creators</a></li>
					</ul>
				</li>
				<a type="button" class="btn btn-dark" id="greynav" href="/api_docs">Documentation &nbsp; |</a>
				<a href="/sign-in" class="btn btn-success" id="account-button" target="popup"
					onclick="window.open('sign-in','popup','width=600,height=600'); return false;">
					Sign in </a>
				<a href="/sign-up" class="btn btn-success" id="account-button" target="popup"
					onclick="window.open('sign-up','popup','width=600,height=600'); return false;">
					Sign up </a>
		</div>
	</div>
</nav>

<body>
	<div id="wrapper_api">
		<h1 id="quizmania-api-dokumentation">QuizMania API Dokumentation</h1>
		<p>Quizmanias API ger tillgång till quiz om flertalet kategorier relaterade till systemutveckling och
			informationsarkitektur, samt video-id:n för att enkelt kunna använda till inbäddade Youtube-videor kring samma
			kategori. API:et följer RESTs principer genom att anrop till ändpunkten /api/categories returnerar de
			tillgängliga kategorierna. Anrop till en kategori-ändpunkt ger sedan frågor med tillhörande svarsalternativ,
			booleans kring huruvida svaren är sanna eller falska samt video-id:n.</p>
		<h2 id="headers">Headers</h2>
		<p>HTTP-headern Accept: application/json kan användas. Returdatan representeras i JSON.</p>
		<h2 id="get-apicategories">GET /api/categories</h2>
		<p>Returnerar de kategorier som API:et erbjuder.
			Exempel på returdata:</p>
		<pre class="hljs"><code><div>[
		{
			<span class="hljs-attr">"description"</span>: <span class="hljs-string">"Returns quiz data for the html category."</span>,
			<span class="hljs-attr">"category"</span>: <span class="hljs-string">"html"</span>,
			<span class="hljs-attr">"url"</span>: <span class="hljs-string">"http://localhost:4567/api/categories/html"</span>
		},
		{
			<span class="hljs-attr">"description"</span>: <span class="hljs-string">"Returns quiz data for the javascript category."</span>,
			<span class="hljs-attr">"category"</span>: <span class="hljs-string">"javascript"</span>,
			<span class="hljs-attr">"url"</span>: <span class="hljs-string">"http://localhost:4567/api/categories/javascript"</span>
		},
		{
			<span class="hljs-attr">"description"</span>: <span class="hljs-string">"Returns quiz data for the php category."</span>,
			<span class="hljs-attr">"category"</span>: <span class="hljs-string">"php"</span>,
			<span class="hljs-attr">"url"</span>: <span class="hljs-string">"http://localhost:4567/api/categories/php"</span>
		},
		{
			<span class="hljs-attr">"description"</span>: <span class="hljs-string">"Returns quiz data for the wordpress category."</span>,
			<span class="hljs-attr">"category"</span>: <span class="hljs-string">"wordpress"</span>,
			<span class="hljs-attr">"url"</span>: <span class="hljs-string">"http://localhost:4567/api/categories/wordpress"</span>
		}
	]
	</div></code></pre>
		<h2 id="get-apicategoriescategory">GET /api/categories/{category}</h2>
		<p>En viss frågekategori nås med hjälp av ett kategorinamn. De skrivs nedan som {category}. Ersätt därför hela
			{category} med kategorinamnet. Exempel på kategorinamn: html.
			Ger en lista med frågor, svarsalternativ, booleans kring huruvida svaren är sanna eller falska samt video-id:n.
		</p>
		<p>För returdatan nedan har kategoriparametern html använts och parametern nbrOfQuestions har satts till 2.
			Exempel på returdata:</p>
		<pre class="hljs"><code><div>{
		<span class="hljs-attr">"questions"</span>: [
			{
				<span class="hljs-attr">"question"</span>: <span class="hljs-string">"What is the correct HTML element for playing video files?"</span>,
				<span class="hljs-attr">"answers"</span>: [
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;movie&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">false</span>
					},
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;media&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">false</span>
					},
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;type=\"video\"&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">false</span>
					},
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;video&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">true</span>
					}
				]
			},
			{
				<span class="hljs-attr">"question"</span>: <span class="hljs-string">"Tags and text that are not directly displayed on the page are written in _____ section."</span>,
				<span class="hljs-attr">"answers"</span>: [
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;html&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">false</span>
					},
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;body&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">false</span>
					},
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;title&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">false</span>
					},
					{
						<span class="hljs-attr">"text"</span>: <span class="hljs-string">"&lt;head&gt;"</span>,
						<span class="hljs-attr">"correct"</span>: <span class="hljs-literal">true</span>
					}
				]
			}
		],
		<span class="hljs-attr">"videoLinks"</span>: [
			<span class="hljs-string">"pQN-pnXPaVg"</span>,
			<span class="hljs-string">"bWPMSSsVdPk"</span>,
			<span class="hljs-string">"UB1O30fR-EE"</span>,
			<span class="hljs-string">"-G7bJVAIiEI"</span>,
			<span class="hljs-string">"PlxWf493en4"</span>
		]
	}
	</div></code></pre>
		<h2 id="parametrar">Parametrar</h2>
		<ul>
			<li>nbrOfQuestions. Bestämmer hur många quizfrågor som returneras. Kan vara mellan 1-20. Om inget anges så
				returneras 20 frågor.</li>
			<li>nbrOfVideos. Bestämmer hur många video-id:n som returneras. Kan vara mellan 1-20. Om inget anges så
				returneras 5 video-id:n.</li>
		</ul>
		<p>Exempel: http://localhost:4567/api/categories/html?nbrOfQuestions=3&amp;nbrOfVideos=2</p>
		<h2 id="felhantering">Felhantering</h2>
		<h3 id="404">404</h3>
		<p>&quot;404 Not Found&quot; returneras om en resurs som ej finns specificerad i /api/categories anropas.</p>
		<h3 id="503">503</h3>
		<p>&quot;503 Service Unavailable&quot; returneras om servern inte kan hämta nödvändig data från externa API:er och
			därmed ej kan generera ett korrekt svar på anropet.</p>
	
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  	<script src="/static/bootstrap.js" defer></script>
</body>

</html>