<!DOCTYPE html>
<html lang="sv">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startsida</title>
  <link href="/static/style.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-bar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/views/index.html">QuizMania</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Quiz
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#"><u>All Quizzes</u></a></li>
                <li><a class="dropdown-item" id="HTML" onClick="reply_click(this.id)" href="/views/Quiz.html">&nbsp; HTML</a></li>
                <li><a class="dropdown-item" id="JavaScript" onClick="reply_click(this.id)" href="/views/Quiz.html">&nbsp; JavaScript</a></li>
                <li><a class="dropdown-item" id="PHP" onClick="reply_click(this.id)" href="/views/Quiz.html">&nbsp; PHP</a></li>
                <li><a class="dropdown-item" id="Wordpress" onClick="reply_click(this.id)" href="/views/Quiz.html">&nbsp; Wordpress</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink1" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                About us
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Contact</a></li>
                <li><a class="dropdown-item" href="#">How it all started</a></li>
              </ul>
            </li>
          <button type="button" class="btn btn-dark" id="greynav">Documentation &nbsp; |</button>
          <button type="button" class="btn btn-success" id="account-button">Sign in</button> 
          <button type="button" class="btn btn-outline-success" id="account-button">Sign up</button> 
        </div>
      </div>
    </nav>
    <div class="background-img"> 
      <img src="/static/1.1.jpg" alt="Liten pojk" id="bigpicture">
      <h1 id="catch-phrase">Get your Quiz on</h1>
      <button type="button" class="btn btn-success" id="start-quiz-button">Start Quiz</button>
    </div>
    <div id="Textsquare">
    <h2> Vad är QuizMania? </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sapiente inventore harum? Omnis distinctio
      temporibus quasi dicta consequuntur esse, optio similique sunt quia eveniet porro laudantium, vel repellat natus
      sequi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, labore temporibus corrupti odio quia non ad
      esse officiis est vel adipisci perspiciatis unde eius, cupiditate enim? Mollitia tenetur harum quam?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sapiente inventore harum? Omnis distinctio
      temporibus quasi dicta consequuntur esse, optio similique sunt quia eveniet porro laudantium, vel repellat natus
      sequi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, labore temporibus corrupti odio quia non ad
      esse officiis est vel adipisci perspiciatis unde eius, cupiditate enim? Mollitia tenetur harum quam?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sapiente inventore harum? Omnis distinctio
      temporibus quasi dicta consequuntur esse, optio similique sunt quia eveniet porro laudantium, vel repellat natus
      sequi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, labore temporibus corrupti odio quia non ad
      esse officiis est vel adipisci perspiciatis unde eius, cupiditate enim? Mollitia tenetur harum quam?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sapiente inventore harum? Omnis distinctio
        temporibus quasi dicta consequuntur esse, optio similique sunt quia eveniet porro laudantium, vel repellat natus
        sequi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, labore temporibus corrupti odio quia non ad
        esse officiis est vel adipisci perspiciatis unde eius, cupiditate enim? Mollitia tenetur harum quam?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sapiente inventore harum? Omnis distinctio
        temporibus quasi dicta consequuntur esse, optio similique sunt quia eveniet porro laudantium, vel repellat natus
        sequi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, labore temporibus corrupti odio quia non ad
        esse officiis est vel adipisci perspiciatis unde eius, cupiditate enim? Mollitia tenetur harum quam?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sapiente inventore harum? Omnis distinctio
        temporibus quasi dicta consequuntur esse, optio similique sunt quia eveniet porro laudantium, vel repellat natus
        sequi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, labore temporibus corrupti odio quia non ad
        esse officiis est vel adipisci perspiciatis unde eius, cupiditate enim? Mollitia tenetur harum quam?
      </p>
  </div>

  </main>
  <footer>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="/static/bootstrap.js" defer></script>
  <script src="/static/quiz.js" defer></script>
</body>

</html>